body {
    background-color: gray;
    
}

table th,td{
    background-color: black;
    border: 1px solid green;
color: white;
}

h2{
    text-align: center;
    color: yellow;
}

h1{
   
    color: BLACK;
}